/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 0.97em;
}


body {
    font-family: "Comfortaa", sans-serif;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
}

header{
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
    position: sticky;
    top: 0;
}

main{
    flex: 1 1 auto;
}

footer{
    flex: 0 1 auto;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding:0.25em 0.5em;
    margin:0 0.25em;
}

.top-nav-wrapper {
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    top: 0;
    box-shadow: inset 0px -1.5px 0px 0px rgba(7, 92, 62, 0.3);
}

.bottom-nav-wrapper a:hover{
    font-weight: bolder;
    color:rgba(7, 92, 62);
    transition: 0.3 ease;
}

/* Below are Desktop menu css */

.desktop-menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: rgb(253, 253, 253);
    box-shadow: inset 0px -1.5px 0px 0px rgba(7, 92, 62, 0.3)
}

.desktop-menu>div>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding:1em 1em;
    margin: 0;
}

.desktop-menu>div>ul>li {
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-menu>div>ul>li a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}
.desktop-menu>div>ul>li a:hover {
    font-weight: bolder;
    color:rgb(7, 92, 62);
}

.desktop-dropdown-menu>ul{
    background-color: white;
    visibility: hidden;
    width: 20%;
    border-radius: 6px;
    padding: 2em;
    list-style-type: none;
    position: absolute;
    height: fit-content;
    top: -200%;
    z-index:-1;
    box-shadow:0px 1.5px 3px 1px rgba(7, 92, 62, 0.3);
    /* Add opacity for smooth transition */
    transition: top 0.4s ease, visibility 0.5s cubic-bezier(1, 0.59, 0, 0.45);
    /* Smooth transition */
}

.desktop-dropdown-menu>ul.show {
    top: 100%;
    z-index:-1;
    visibility: visible;
}

.desktop-dropdown-menu ul li {
    padding: 0.5em 0;
}

/* Below are screen settings for menu css */

@media screen and (max-width: 768px) {
    .desktop-menu {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }
}

/* Below are mobile menu css */

.mobile-menu {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 7;
    /* overflow-x: hidden; */
}

.back-btn{
    border: none;
    background-color: transparent;
}

.submenu-title{
    padding-top: 0.3em;
    margin:0;
    margin-left:2em;
    text-transform: uppercase;
}

.mobile-menu-list {
    background-color: rgb(253, 253, 253);
    padding:1em 0;
    list-style-type: none;
    display: grid;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 1.5px 3px 1px rgba(7, 92, 62, 0.3);
    grid-template-columns: repeat(1, 1fr);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.mobile-menu-list>li{
    text-align: center;
    margin:1em 0;
}

.mobile-menu-list a{
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

.mobile-menu-list a:hover{
    font-weight: bolder;
    text-decoration: none;
    color:rgb(7, 92, 62);
}

.mobile-submenu{
    display: grid;
    background-color: rgb(253, 253, 253);
    padding:2em;
    position: absolute;
    list-style-type: none;
    width: 100%;
    min-height: 100%;
    right: 100% !important;
    top: 0%!important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 5;
    opacity: 0;
    box-shadow:0px 1.5px 3px 1px rgba(7, 92, 62, 0.3);
    grid-template-columns: repeat(2, 1fr);
    transition: opacity 0.2s, right 0.2s cubic-bezier(1, 0.59, 0, 0.45);
}

.mobile-submenu.show {
    right:0% !important;;
    top:0% !important;
    opacity:1;
    z-index: 5;
}

.mobile-submenu>div{
    grid-column: span 2;
}

.mobile-submenu li{
   padding:1em 0;
}

.mobile-submenu li:nth-child(even){
    border-top: 0.5px solid rgb(7, 92, 62);
    border-right: 0.5px solid rgb(7, 92, 62);
    
}

.mobile-submenu li:nth-child(odd){
    border-top: 0.5px solid rgb(7, 92, 62);
    
}

.mobile-submenu li:last-child{
    grid-column: span 2;
    border-bottom: 0.5px solid rgb(7, 92, 62);
    border-right: none;
}

/* ================== inventory page styles ==================*/

.inventory-nav {
    box-shadow:0px 1.5px 3px 1px rgba(7, 92, 62, 0.3);
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 1em 0.25em;
    margin: 0;
    border-radius: 6px;
}

.inventory-nav>li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-nav>li>a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s ease;
}

.inventory-nav>li>a:hover {
    font-weight: bolder;
    color: rgb(7, 92, 62);
}

.sub-inventory-nav {
    box-shadow:0px 1.5px 3px 1px rgba(7, 92, 62, 0.3);
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 1em 1em;
    margin: 0;
    border-radius: 6px;
}

.sub-inventory-nav>li {
    margin: auto;
}

.sub-inventory-nav>li>a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease;
}

.sub-inventory-nav>li>a:hover {
    font-weight: bolder;
    color: rgb(7, 92, 62);
}

.inventory-view-mobile-item, .inventory-view-desktop>table {
    box-shadow:0px 1.5px 3px 1px rgba(7, 92, 62, 0.3);
    border-radius: 6px;
}

/* ========= inventory desktop styles ========= */
.inventory-view-desktop>table th {
    text-align: center;
    padding: 0.5em 0.25em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.inventory-view-desktop>table td{
    padding: 0.5em;
}

.inventory-view-desktop ul{
    list-style-type: none;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 6px;
    grid-template-columns: repeat(4, 1fr);
}

.inventory-view-desktop ul li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding:0.7em 0;
    height: fit-content;
}

.inventory-view-desktop ul li p{
    margin:0;
    padding:0.25em 0;
}

.inventory-view-desktop ul li:nth-child(even){
    justify-content: start;
    grid-column: span 3;

}

.inventory-view-desktop ul li:nth-child(odd){
    justify-content: center;
    grid-column: span 1;
}

.inventory-view-desktop a{
    height: fit-content;
    width: 100%;;
}

.inventory-view-desktop-item td:first-child>a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-view-desktop-item {
    border-top: 1px solid rgba(7, 92, 62, 0.3);
    border-bottom: 1px solid rgba(7, 92, 62, 0.3);
}

.inventory-view-desktop-item img{
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

.inventory-view-desktop-item td:first-child span{
    position: relative;
    left: 7.5%;
}

.inventory-view-desktop-item td:not(:first-child){
    border-left:1px solid rgba(7, 92, 62, 0.05);
}

/* ========= inventory mobile styles ========= */

.inventory-view-mobile>div {
    padding: 0.25em;
}

.inventory-view-mobile-item{
    margin-top:0.75em;
}

.top-inventory-view{
    border-bottom: 1px solid rgba(7, 92, 62, 0.3);
}

.top-inventory-view ul{
    list-style-type: none;
    display: grid;
    width: fit-content;
    height: 100%;
    padding: 0.25em 1em;
    margin: 0;
    border-radius: 6px;
    grid-template-columns: repeat(2, 1fr);
}

.top-inventory-view ul li{
    padding:0.7em 0;
    height: fit-content;
}

.top-inventory-view ul li p{
    margin:0;
    padding:0.25em 0;
}

.top-inventory-view ul li:nth-child(even){
    text-align: left;
    justify-content: start;
    width:100px;
    
}

.top-inventory-view ul li:nth-child(odd){
    text-align: left;
    justify-content: start;
    width:20px;
}

.top-inventory-view .left a>img{
    height: fit-content;
    width: 80%;
    height: fit-content;
    border-radius: 10px;
}

.top-inventory-view .left a{
    height: fit-content;
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
}

.top-inventory-view .left button{
    padding:0;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.bottom-inventory-view{
    padding:0.25em 0;
}

.bottom-inventory-view div{
    display: flex;
    justify-content: center;
}


/* ========= Dashboard desktop styles ========= */

.dashboard-card-container{
    display:grid !important;
    grid-template-columns: repeat(2, 1fr);
}

.dashboard-card-container

.dashboard-card{
    box-shadow:0px 1.5px 3px 1px rgba(7, 92, 62, 0.3);
    background-color: white;
    border-radius: 6px;
    margin:0.75em;
}

.dashboard-card h5, .dashboard-card p{
    margin:0.25em;
}

.dashboard-card:hover{
    transform:translateY(-5px);
    position: relative;
    z-index: 1;
    transition: transform 0.5s;
}

.dashboard-table-container{
    margin:0.75em;
    box-shadow:0px 1.5px 3px 1px rgba(7, 92, 62, 0.3);
    border-radius: 6px;
    background-color: white;
}

.dashboard-table-container h5{
    padding:0.5em;
    margin:0;
}

.dashboard-table-container{
    text-align: center;
}

.dashboard-table-container .card{
    border:none !important;
}
